#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
		zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
		compatible = "zmk,matrix-transform";
		columns = <6>;
		rows = <1>;
		map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)
	  >;
	};

trackballs {
	compatible = "zmk,keymap-trackballs";
	trackballs = <&trackball>;
	    };
};

&spi0 {
	compatible = "nordic,nrf-spim";
	status = "disabled";

	trackball: trackball@0 {
		compatible = "pixart,pmw3610";
		status = "disabled";
		reg = <0>;
		label = "TRACKBALL";
		spi-max-frequency = <2000000>;
		duplex = <2048>; // required by 3-wire spi
	};


    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        row-gpios
           = <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
           ;
	};

	left_encoder: encoder_left {
		compatible = "alps,ec11";
    status = "disabled";
		label = "LEFT_ENCODER";
		a-gpios = <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		resolution = <2>;
	};

	right_encoder: encoder_right {
		compatible = "alps,ec11";
    status = "disabled";
		label = "RIGHT_ENCODER";
		a-gpios = <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 26 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		resolution = <2>;
	};

	sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder &right_encoder>;
	};
};

/* display */
&pro_micro_spi {
// &spi2 {
  compatible = "nordic,nrf-spim";
  sck-pin = <17>;
  mosi-pin = <15>;
  cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
  // not used, but required by spim binding; can be reuesd in the keymap for normal key press
  miso-pin = <10>;

  // activate this device
  status = "okay";

  // spi-device: gooddisplay GDEW0102T4
  shield_epd: il0323@0 {
    compatible = "gooddisplay,il0323";
    reg = <0>;
    label = "DISPLAY";
    spi-max-frequency = <4000000>;

    height = <128>;
    width = <80>;
    reset-gpios = <&gpio0 8  GPIO_ACTIVE_LOW>;
    dc-gpios    = <&gpio0 20 GPIO_ACTIVE_LOW>;
    busy-gpios  = <&gpio0 6  GPIO_ACTIVE_LOW>;
    pwr = [03 00 26 26];
    cdi = <0xd2>;
    tcon = <0x22>;
  }; 
};
