if SHIELD_FKB_LEFT

config ZMK_KEYBOARD_NAME
	default "fkb"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SWEEP_PRO_RIGHT

config ZMK_KEYBOARD_NAME
  default "fkb-R"
endif

if SHIELD_FKB_LEFT || SHIELD_FKB_RIGHT

config ZMK_SPLIT
	default y

config ZMK_USB
	default y

config NRFMACRO_MARKLOGO_NAME
  string  "Source file name of the shield mark logo"
  default "sweepro-marklogo.c"

endif
